@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.ProductFilter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin: 50px 0;
	background-color: #ffffff;

	.filter_title {
		font-size: 48px;
	}

	.filter_category {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		margin: 32px 0 60px;

		.category {
			display: inline-block;

			& button {
				display: inline-block;
				width: 95px;
				height: 52px;
				margin: 0 3px;
				text-align: center;
				border: 1px solid #111;
			}
			.click_on {
				background-color: black;
				color: white;
			}

			.click_off {
				background-color: white;
				color: black;
			}
		}
	}

	.ProductItemContainer {
		display: inline-block;

		.product_item_container_title {
			font-size: 26px;
			font-weight: 700;
			margin: 11px;
		}

		.product_item_img_box {
			img {
				width: 279px;
				height: 350px;
				display: inline-block;
			}
		}

		.product_item_container_bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 19px;

			span {
				font-size: 30px;
			}

			.add_to_cart {
				height: 52px;
				padding: 0 17px;
				font-size: 18px;
				text-align: center;
				border: 1px solid;
			}
		}
	}

	.ProductItemSlider {
		max-width: 1140px;
		width: 100%;
		height: 592px;
		.slick-slider {
			.slick-prev {
				left: 0;
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS9JREFUeNrs200KgzAQhuGxFOrSI3gEj+QRvJFH8g5d9Wdhd901TYqFUuoymbHzDii4ku+BRJ2YSkRu8TiIz7rs46l2DFDv4imI3wo7cV4AAAAAAAAAAAAAAABgrLquk3mepe/77Pe6Lx9EZo4YPsTw4V3pOtO9TuYAvsOnStcuAH6FTxWHwf8DKIS3A6AU3gaAYnh9gLZtNcPrAjRNE6Zp0gyvB2AkvA7AWvhhGDSGYVmAtfDjOGpNwuUADIYvB2A0fBkAw+HzAxgPnxdgA+HzAmwg/AvAfUuMIcAkyGOQFyFehfkY8tkLoCFCS0y7KarcEaYtzsIIS2MsjrI8zg8SFgE+EXLPAdUCUDttBp35SwwAAAAAAAAAAAAAAKdVie+9w4+0e/wofnePX58CDAAr25DlfauwgQAAAABJRU5ErkJggg==);
				z-index: 20;
			}

			.slick-next {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNrs2z0OgkAQhuGBWFjSqNfgSNyMI9HZ29ltqRRm3SWYGBNtZNgh837JkFCRfcLfzkIlIpdUR/GZcZc2+7k8pqrTJorfxFqcBwAAAAAAAAAAAAAAABTSdZ2EEKRtW9MI13lCtGilQcdXEsK0r3GcP+umBpAH/R6jCHoA6fSPnzGIoAewEQRdgA0g6AMYR1gHwDDCegDfEIZhiE3T+AAwiLA+gDGEMgC5+r63gFAOwAhCWQADCOUBCiPYACiIYAegEIItgF8IWgDuW2JcAtwEeQzyIsSrMJMhpsM0RGiJ0RSlLc7CCEtjLI6yPM4HEotfBoYHPwFUM8DJaTPozldiAAAAAAAAAAAAAAA4TZ4LPDxD5L/Hz6kOTsc/PgUYAKCBkA8jygfJAAAAAElFTkSuQmCC);
				right: 12px;
				z-index: 20;
			}

			.slick-prev,
			.slick-next {
				width: 64px;
				height: 64px;
				top: 562px;

				&::before,
				&::before {
					content: none;
					width: 64px;
					height: 64px;
				}
			}

			.slick-dots {
				max-width: 1050px;
				height: 64px;
				top: 550px;

				& li {
					margin: 0 6px;

					& button {
						width: 12px;
						height: 12px;
						background-color: #111;
					}
				}
				.slick-active {
					width: 42px;
					height: 12px;
					background-color: #111;
				}

				::before {
					display: none;
				}
			}
		}
	}

	.product_item {
		p {
			padding: 17px 0;
		}

		.sale_price {
			padding: 17px 0 3px 0;
			font-size: 22px;
			color: red;
		}

		.sale_price::before {
			content: '₩';
			padding-right: 3px;
			font-weight: 400;
			font-size: 16px;
		}

		.origin_price_ws {
			padding: 0 0 3px 0;
			font-size: 17px;
			text-decoration: line-through;
			color: #999;
		}

		.origin_price_ws::before {
			content: '₩';
			padding-right: 3px;
			font-weight: 400;
			font-size: 13px;
		}

		.origin_price {
			padding-bottom: 23px;
			font-size: 22px;
			color: #111;
		}

		.origin_price::before {
			content: '₩';
			padding-right: 3px;
			font-weight: 400;
			font-size: 16px;
		}
	}
}
