.Main {
	.main_scroll_event {
		margin-bottom: -1px;
		width: 100vw;
		height: auto;
	}

	.product_preview_test {
		margin: 100px auto 245px auto;
		height: 466px;
		background-color: #999;
	}

	.MainSlider {
		.slick-slider {
			.slick-list {
				margin-left: -110px;
			}

			.main_slider_form {
				img {
					width: auto;
					height: 81vh;
				}
			}

			.slick-dots {
				left: 50%;
				transform: translate(-50%);
				bottom: 30px;

				li {
					margin: 0;
					margin-right: 3px;

					button {
						width: 8px;
						height: 8px;
						background-color: #ffe716;
					}
				}

				.slick-active {
					margin-right: 13px;
					width: 32px;
					height: 10px;
					background-color: #ffe716;
				}

				::before {
					display: none;
				}
			}

			.slick-prev {
				left: 0;
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS9JREFUeNrs200KgzAQhuGxFOrSI3gEj+QRvJFH8g5d9Wdhd901TYqFUuoymbHzDii4ku+BRJ2YSkRu8TiIz7rs46l2DFDv4imI3wo7cV4AAAAAAAAAAAAAAABgrLquk3mepe/77Pe6Lx9EZo4YPsTw4V3pOtO9TuYAvsOnStcuAH6FTxWHwf8DKIS3A6AU3gaAYnh9gLZtNcPrAjRNE6Zp0gyvB2AkvA7AWvhhGDSGYVmAtfDjOGpNwuUADIYvB2A0fBkAw+HzAxgPnxdgA+HzAmwg/AvAfUuMIcAkyGOQFyFehfkY8tkLoCFCS0y7KarcEaYtzsIIS2MsjrI8zg8SFgE+EXLPAdUCUDttBp35SwwAAAAAAAAAAAAAAKdVie+9w4+0e/wofnePX58CDAAr25DlfauwgQAAAABJRU5ErkJggg==);
				z-index: 20;
			}

			.slick-next {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNrs2z0OgkAQhuGBWFjSqNfgSNyMI9HZ29ltqRRm3SWYGBNtZNgh837JkFCRfcLfzkIlIpdUR/GZcZc2+7k8pqrTJorfxFqcBwAAAAAAAAAAAAAAABTSdZ2EEKRtW9MI13lCtGilQcdXEsK0r3GcP+umBpAH/R6jCHoA6fSPnzGIoAewEQRdgA0g6AMYR1gHwDDCegDfEIZhiE3T+AAwiLA+gDGEMgC5+r63gFAOwAhCWQADCOUBCiPYACiIYAegEIItgF8IWgDuW2JcAtwEeQzyIsSrMJMhpsM0RGiJ0RSlLc7CCEtjLI6yPM4HEotfBoYHPwFUM8DJaTPozldiAAAAAAAAAAAAAAA4TZ4LPDxD5L/Hz6kOTsc/PgUYAKCBkA8jygfJAAAAAElFTkSuQmCC);
				right: 12px;
				z-index: 20;
			}

			.slick-prev,
			.slick-next {
				width: 64px;
				height: 64px;
				top: 400px;
				margin: 0 15%;

				&::before {
					content: none;
					width: 64px;
					height: 64px;
				}
			}
		}
	}
}
