.Main {
	.main_scroll_event {
		margin-bottom: -1px;
		width: 100vw;
		height: auto;
	}

	.product_preview_form {
		display: flex;
		justify-content: space-between;

		.ProductPreview {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 100px 0 150px 0;

			.product_img_two {
				img {
					max-width: 280px;
					height: auto;
					background-color: #e5e5e5;
				}
			}

			.product_list_info {
				display: flex;
				justify-content: space-between;
				padding: 0 20px;

				.list_info_content {
					width: 50%;

					h2 {
						padding: 17px 0;
						font-size: 18px;
						font-weight: 700;
					}

					p {
						padding-bottom: 17px;
						font-size: 16px;
						color: #666;
					}

					.WishButton {
						margin: 0;
						padding: 0;

						.wish_number {
							margin-top: 2px;
						}
					}
				}

				.list_info_option {
					text-align: end;

					p {
						padding: 17px 0;
					}

					.sale_price {
						padding: 17px 0 3px 0;
						font-size: 22px;
						color: red;

						&::before {
							content: '₩';
							padding-right: 3px;
							font-weight: 400;
							font-size: 16px;
						}
					}

					.origin_price_ws {
						padding: 0 0 3px 0;
						font-size: 17px;
						text-decoration: line-through;
						color: #999;

						&::before {
							content: '₩';
							padding-right: 3px;
							font-weight: 400;
							font-size: 13px;
						}
					}

					.origin_price {
						padding-bottom: 23px;
						font-size: 22px;
						color: #111;

						&::before {
							content: '₩';
							padding-right: 3px;
							font-weight: 400;
							font-size: 16px;
						}
					}

					button {
						font-size: 18px;
						padding: 14px 19px;
						border: 1px solid #111;
					}
				}
			}
		}
	}

	.MainSlider {
		.slick-slider {
			.slick-list {
				margin-left: -110px;
			}

			.main_slider_form {
				img {
					width: auto;
					height: 81vh;
				}
			}

			.slick-dots {
				left: 50%;
				transform: translate(-50%);
				bottom: 30px;

				li {
					margin: 0;
					margin-right: 3px;

					button {
						width: 8px;
						height: 8px;
						background-color: #ffe716;
					}
				}

				.slick-active {
					margin-right: 13px;
					width: 32px;
					height: 10px;
					background-color: #ffe716;
				}

				::before {
					display: none;
				}
			}

			.slick-prev {
				left: 0;
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS9JREFUeNrs200KgzAQhuGxFOrSI3gEj+QRvJFH8g5d9Wdhd901TYqFUuoymbHzDii4ku+BRJ2YSkRu8TiIz7rs46l2DFDv4imI3wo7cV4AAAAAAAAAAAAAAABgrLquk3mepe/77Pe6Lx9EZo4YPsTw4V3pOtO9TuYAvsOnStcuAH6FTxWHwf8DKIS3A6AU3gaAYnh9gLZtNcPrAjRNE6Zp0gyvB2AkvA7AWvhhGDSGYVmAtfDjOGpNwuUADIYvB2A0fBkAw+HzAxgPnxdgA+HzAmwg/AvAfUuMIcAkyGOQFyFehfkY8tkLoCFCS0y7KarcEaYtzsIIS2MsjrI8zg8SFgE+EXLPAdUCUDttBp35SwwAAAAAAAAAAAAAAKdVie+9w4+0e/wofnePX58CDAAr25DlfauwgQAAAABJRU5ErkJggg==);
				z-index: 20;
			}

			.slick-next {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNrs2z0OgkAQhuGBWFjSqNfgSNyMI9HZ29ltqRRm3SWYGBNtZNgh837JkFCRfcLfzkIlIpdUR/GZcZc2+7k8pqrTJorfxFqcBwAAAAAAAAAAAAAAABTSdZ2EEKRtW9MI13lCtGilQcdXEsK0r3GcP+umBpAH/R6jCHoA6fSPnzGIoAewEQRdgA0g6AMYR1gHwDDCegDfEIZhiE3T+AAwiLA+gDGEMgC5+r63gFAOwAhCWQADCOUBCiPYACiIYAegEIItgF8IWgDuW2JcAtwEeQzyIsSrMJMhpsM0RGiJ0RSlLc7CCEtjLI6yPM4HEotfBoYHPwFUM8DJaTPozldiAAAAAAAAAAAAAAA4TZ4LPDxD5L/Hz6kOTsc/PgUYAKCBkA8jygfJAAAAAElFTkSuQmCC);
				right: 12px;
				z-index: 20;
			}

			.slick-prev,
			.slick-next {
				width: 64px;
				height: 64px;
				top: 400px;
				margin: 0 15%;

				&::before {
					content: none;
					width: 64px;
					height: 64px;
				}
			}
		}
	}

	.shoes {
		height: 100vh;
		background-color: #666;
	}
}
