.Main {
	.main_test {
		width: 100vw;
	}

	.slider_component {
		margin: 100px auto;
		margin-bottom: 120px;
		height: 800px;
		background-color: #e5e5e5;
	}

	.main_scroll_event {
		margin-bottom: -1px;
		width: 100vw;
		height: auto;
	}

	.product_preview_test {
		margin: 100px auto 245px auto;
		height: 466px;
		background-color: #999;
	}

	.test2 {
		width: 100vw;
		height: auto;
	}
}
