// class
.black {
	color: #111;
}

.gray {
	color: #999;
}

.white {
	color: #fff;
}

.yellow {
	color: #ffe512;
}

.red {
	color: #ff0000;
}

.gray-bg {
	background-color: #fafafa;
}

.dark-gray-bg {
	background-color: #191919;
}

.font-b {
	font-weight: 600;
}

.m-auto {
	margin: 0 auto;
}

.m-w-1140 {
	max-width: 1140px;
}

.p-r {
	position: relative;
}

.p-a {
	position: absolute;
}

.p-s {
	position: sticky;
}

.main-font {
	font-family: 'Spoqa Han Sans', sans-serif;
}
