// webfont

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@font-face {
	font-family: 'Trade Gothic LT Std Cn';
	src: url('//db.onlinewebfonts.com/t/70b2e174904ada48dd1dbe8bfbf62c42.eot');
	src: url('//db.onlinewebfonts.com/t/70b2e174904ada48dd1dbe8bfbf62c42.eot?#iefix') format('embedded-opentype'),
		url('//db.onlinewebfonts.com/t/70b2e174904ada48dd1dbe8bfbf62c42.woff2') format('woff2'),
		url('//db.onlinewebfonts.com/t/70b2e174904ada48dd1dbe8bfbf62c42.woff') format('woff'),
		url('//db.onlinewebfonts.com/t/70b2e174904ada48dd1dbe8bfbf62c42.ttf') format('truetype'),
		url('//db.onlinewebfonts.com/t/70b2e174904ada48dd1dbe8bfbf62c42.svg#Trade Gothic LT Std Cn') format('svg');
}

// body font
body {
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
	font-size: 100%;
}

// class
.black {
	color: #111;
}

.gray {
	color: #999;
}

.white {
	color: #fff;
}

.yellow {
	color: #ffe512;
}

.red {
	color: #ff0000;
}

.gray-bg {
	background-color: #fafafa;
}

.dark-gray-bg {
	background-color: #191919;
}

.font-b {
	font-weight: 700;
}

.m-auto {
	margin: 0 auto;
}

.m-t-40 {
	margin-top: 40px;
}

.m-b-50 {
	margin-bottom: 50px;
}

.m-w-1140 {
	max-width: 1140px;
}

.t-0 {
	top: 0;
}

.p-r {
	position: relative;
}

.p-a {
	position: absolute;
}

.p-s {
	position: sticky;
}

.out_n {
	outline: none;
}

.main-font {
	font-family: 'Spoqa Han Sans', sans-serif;
}

.num-font {
	font-family: 'Trade Gothic LT Std Cn', 'Spoqa Han Sans', sans-serif;
	font-weight: 700;
	letter-spacing: -1%;
}

//하트버튼
.WishButton {
	display: inline-flex;
	padding: 5px;
	margin-bottom: 18px;

	svg {
		display: inline-block;
		width: 22px;
		height: 22px;
		margin-right: 10px;
	}

	.wish_number {
		display: inline-block;
		font-size: 20px;
		font-weight: 700;
		line-height: 21px;
	}

	.underline {
		border-bottom: 1px solid #111;
	}
}

.scroll-s {
	scroll-behavior: smooth;
}

// 후기, 문의사항 더보기 버튼
.more-btn {
	display: flex;
	justify-content: center;

	button {
		padding: 15px 103px;
		font-size: 18px;
		font-weight: 700;
		color: white;
		background-color: #111;
	}
}

// ScrollTopBtn 스타일
.ScrollTopBtn,
.ScrollTopBtn_click {
	width: 64px;
	height: 64px;
	border: 2px solid #111;
}

// wish 버튼
.WishButton {
	display: inline-flex;
	padding: 5px;
	margin-bottom: 18px;
	svg {
		display: inline-block;
		width: 22px;
		height: 22px;
		margin-right: 6px;
	}
	.wish_number {
		display: inline-block;
		padding-top: 2px;
		font-family: 'Trade Gothic LT Std Cn', 'Spoqa Han Sans', sans-serif;
		font-size: 20px;
		font-weight: 700;
	}
}
