* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: “Spoqa Han Sans”, sans-serif;
<<<<<<< HEAD
	color: #111;
=======
>>>>>>> 292ac9b6a4688b6d7ecbeb7f08fa3a3691501fb1
}

a {
	text-decoration: none;
<<<<<<< HEAD
=======
	color: #000;
>>>>>>> 292ac9b6a4688b6d7ecbeb7f08fa3a3691501fb1
}

li {
	list-style: none;
}

img,
video {
	border: 0;
}

button,
input {
	all: unset;
}

button {
	cursor: pointer;
}
