.ProductFilter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin-top: 50px;

	.filter_title {
		font-size: 48px;
	}

	.filter_category {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		margin: 32px 0 60px;
	}
}
