// .body {
// 	font-family: TradeGothic, Spoqa Han Sans, sans-serif;
// }
.MyPageHome {
	.mypagehome_header {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		margin: 0 auto;
		border-bottom: 1px solid #d6d6d6;
		font-family: 'Trade Gothic LT Std Cn';
		.mypagehome_header_center {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			width: 70%;
			height: inherit;

			.mypagehome_header_title {
				font-size: 36px;
				color: #111;
				font-weight: 700;
				padding-left: 8px;
				letter-spacing: -1px;
			}
			.mypagehome_header_home {
				font-size: 30px;
				font-weight: 700;
				letter-spacing: -0.3px;
				color: #111;
				.mypagehome_header_home_under_bar {
					position: absolute;
					top: 190px;
					left: 34.6%;
					width: 4%;
					height: 6px;
					background-color: #ffe512;
					display: block;
				}
			}
			.mypagehome_header_shopping {
				font-size: 30px;
				font-weight: 700;
				letter-spacing: -0.3px;
				color: #111;
			}
			.mypagehome_header_activity {
				font-size: 30px;
				font-weight: 700;
				letter-spacing: -0.3px;
				color: #111;
			}
			.mypagehome_header_cs_center {
				font-size: 30px;
				font-weight: 700;
				letter-spacing: -0.3px;
				color: #111;
			}
		}
	}

	.mypage_section_my_info_summary {
		display: flex;
		justify-content: space-between;
		max-width: 1140px;
		max-height: 662px;
		padding-top: 90px;
		padding-left: 80px;
		padding-right: 80px;
		padding-bottom: 80px;
		border-bottom: 1px solid #ddd;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		.summary_left {
			max-width: 483px;
			max-height: 283px;
			.summary_left_image {
				max-width: 484px;
				max-height: 283px;
				box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.15);
				.profile_image {
					max-width: 484px;
					max-height: 283px;
				}
				.add_profile_add_image {
					position: relative;
					top: -50px;
					left: 350px;
					border-radius: 50%;
					box-shadow: 0 0.333rem 0.6rem 0 rgba(0, 0, 0, 0.15);
				}
			}
			.mypage_section_itemes {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-top: 78px;
				.mypage_items_box {
					display: flex;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					width: 100%;
					height: 100%;
					background-color: white;
					.info_item_name {
						font-size: 22px;
						padding-top: 6px;
						padding-bottom: 26px;
						line-height: 20px;
						color: #666;
					}
					.info_item_price {
						display: inline-block;
						border-bottom: 2px solid #111;
						font-size: 36px;
						font-family: 'Trade Gothic LT Std Cn';
						line-height: 37px;
						color: #111;
					}
				}
			}
		}
		.summary_right {
			max-width: 413px;
			max-height: 455px;
			.welcome_name {
				padding-top: 80px;
				padding-bottom: 28px;
				margin-left: -2px;
				font-size: 30px;
				line-height: 29px;
				letter-spacing: -0.5px;
				color: #666;
				.welcome_name_weight {
					margin-right: -5px;
					font-weight: 700;
					color: #111;
				}
				.welcome_sawtooth_icon {
					margin-left: 100px;
				}
			}
			.docs_family {
				padding-bottom: 162px;
				font-size: 30px;
				font-family: 'Trade Gothic LT Std Cn';
				font-weight: 700;
				line-height: 21px;

				color: #111;
			}
			.welcome_underbar {
				height: 8px;
				background-color: #ddd;
			}
			.welcome_underbar_name {
				display: flex;
				justify-content: space-between;
				.docs_family_text {
					padding-top: 12px;
					padding-bottom: 14px;
					font-size: 20px;
					font-family: 'Spoqa Han Sans';
					line-height: 16px;
					color: #666;
				}
				.docs_rating {
					padding-top: 12px;
					padding-bottom: 14px;
					font-size: 20px;
					font-family: 'Spoqa Han Sans';
					line-height: 16px;
					color: #666;
				}
			}
			.docs_rating_message {
				padding-bottom: 13px;
				font-size: 24px;
				line-height: 36px;
				color: #666;

				.color_change {
					font-weight: 700;
					color: black;
				}
			}
		}
	}

	.mypage_collect_section {
		margin-right: auto;
		margin-left: auto;
		padding-top: 71px;
		padding-bottom: 139px;
		overflow: hidden;
	}
	.flex {
		display: flex;
		justify-content: space-between;
		width: 60%;
		margin: 0 auto;
		.shopping {
		}
		.activity {
		}
		.cs {
		}
	}
}
