// .body {
// 	font-family: TradeGothic, Spoqa Han Sans, sans-serif;
// }
.MyPageHome {
	.mypagehome_header {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		margin: 0 auto;
		border-bottom: 1px solid #d6d6d6;
		font-family: 'Trade Gothic LT Std Cn';
		.mypagehome_header_center {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			width: 1140px;
			height: inherit;

			.mypagehome_header_title {
				font-size: 36px;
				color: #111;
				font-weight: 700;
				padding-left: 8px;
				letter-spacing: -1px;
			}
			.mypagehome_header_home {
				font-size: 30px;
				font-weight: 700;
				letter-spacing: -0.3px;
				color: #111;
				.mypagehome_header_home_under_bar {
					position: absolute;
					top: 190px;
					left: 30;
					width: 60px;
					height: 6px;
					background-color: #ffe512;
					display: block;
				}
			}
			.mypagehome_header_shopping {
				font-size: 30px;
				font-weight: 700;
				letter-spacing: -0.3px;
				color: #111;
			}
			.mypagehome_header_activity {
				font-size: 30px;
				font-weight: 700;
				letter-spacing: -0.3px;
				color: #111;
			}
			.mypagehome_header_cs_center {
				font-size: 30px;
				font-weight: 700;
				letter-spacing: -0.3px;
				color: #111;
			}
		}
	}
}
