.Nav {
	font-size: 12px;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
	.nav_container {
		.nav_menu ul {
			display: flex;
			justify-content: flex-end;
			font-family: 돋움, Dotum, sans-serif;
			padding: 12px 0;
			li {
				margin-left: 20px;
				.nav_sign_up_btn {
					font-weight: 700;
				}
			}
		}
	}

	.customer_container {
		.customer_menu {
			position: relative;
			padding: 25px 0;
			.hamburger_menu {
				position: absolute;
				width: 27px;
				top: 31px;
			}
			.Menu_wrapper {
				left: -29%;
				top: 80px;
				overflow: scroll;
				z-index: 100;
				background-color: white;
				width: 26%;
				padding: 20px;

				&::-webkit-scrollbar {
					display: none;
				}
			}

			.logo {
				position: absolute;
				top: -23px;
				left: 7.5%;
				width: 167px;
			}
			.search_form {
				position: absolute;
				top: 40%;
				left: 34.5%;
				width: 30%;
				font-size: 20px;
			}
			.search_form::placeholder {
				color: #999;
			}
			.icon_list {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				.NavFooterIcon {
					padding-left: 32px;
				}
			}
		}
	}

	.Menu {
		padding-top: 30px;
		background-color: white;

		.list_wrap {
			padding-bottom: 10px;
			.category_list {
				display: block;

				.category_button {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					font-size: 26px;
					font-weight: 400;
					.category_title {
						display: block;
						font-size: 30px;
						font-weight: 700;
					}

					.arrow::marker {
						content: none;
						margin: 0;
						padding: 0;
					}
				}
			}
		}

		.sub_list_wrap {
			max-width: 260px;
			padding: 10px 0;
			.sub_category_list {
				display: block;
				.sub_category_button {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					font-size: 26px;
					font-weight: 400;
					padding: 10px 10px;

					.arrow_path {
						letter-spacing: -0.04rem;
						width: 15px;
						height: 26px;
					}
					&::before,
					::after {
						box-sizing: inherit;
					}
				}

				.inner_sub_list {
					max-width: 240px;
					padding: 0 20px 20px;
					display: block;

					.inner_sub_category_button {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						padding-top: 15px;
						.inner_sub_category_title {
							font-size: 20px;
							font-weight: 400;
							color: #666;
						}

						.arrow {
							width: 15px;
							height: 26px;
							.arrow_path {
								letter-spacing: -0.04rem;
								width: 15px;
								height: 26px;
							}
							&::before,
							::after {
								box-sizing: inherit;
							}
						}
					}
				}
			}
		}
		.list_wrap_cs {
			padding-top: 60px;
			.category_list_cs {
				width: 100%;
				margin-bottom: 10px;
				display: block;

				.category_button_cs {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					height: 30px;
					font-size: 30px;
					font-weight: 700;

					.ArrowIcon {
						transform: rotate(-90deg);
					}
				}
			}
		}
	}
}
