// .ItemBoxID {
// 	position: relative;
// 	.input_component_box {
// 		position: absolute;
// 		top: -10px;
// 		left: 15px;
// 		background-color: #fff;
// 		.input_component_box_msg {
// 			padding-left: 8px;
// 			padding-right: 8px;
// 			font-size: 18px;
// 			font-weight: 700;
// 			letter-spacing: -0.2px;
// 			background-color: white;
// 		}
// 	}
// 	input {
// 		width: 100%;
// 		margin-bottom: 20px;
// 		padding: 20px 24px 20px 24px;
// 		border: 1px solid #666;
// 		line-height: 18px;
// 		font-size: 18px;
// 		text-decoration: none solid #111;
// 		color: #111;
// 	}
// }

.a {
	color: #0058dd;
	border-color: #0058dd !important;
}
.b {
	color: black;
}
.c {
	color: #fe0000;
	border-color: #fe0000 !important;
}
